.App{
    padding: 0;
    box-sizing: border-box;
}
.maincontent{
    margin-left: 170px;
    margin-top: 4%;
    padding: 15px;
}
.header1 {
    position: fixed; /* Keeps the header at the top of the viewport */
    top: 0; /* Positions it at the very top */
    margin-left:-15px; /* Positions it at the left edge */
    width: 87.5%; /* Spans the entire width of the viewport */
    z-index: 2; /* Ensures it stays on top of other content */
    background-color: #DDEAFA; /* Optional background color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional subtle shadow */
  }
  
